espeak==1.48.04
lxml==4.6.3
selenium==3.141.0
speechRecognition==3.8.1
pyaudio==0.2.11
pyttsx3==2.90
pyautogui==0.9.52
python-dotenv==0.19.0
bs4==0.0.1
ib2to3==2.7.0
playsound==1.2.2
psutil==5.8.0
gtts==2.2.3
// pip install -r requirements.txt to run the requirements.txt