<!DOCTYPE html>
<html>
<head>
<title>nikki </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<script>
  function Help(){
    document.getElementById('helpClass').innerHTML = `
    <td >
      <tr><button type="submit" class="btnHelp" onclick="Back()">Back</button> </div></tr>
      <tr><h1>Commends</h1></tr>
      <tr><h4>'how to use'</h4></tr>
      <tr><h4>'Nikki what about you'</h4></tr>
      <tr><h4>'Nikki play music'</h4></tr
      <tr><h4> 'what is your name' </h4></tr>
      <tr><h4> 'Nikki open youtube'</h4></tr>
      <tr><h4> 'Nikki open class'</h4></tr>
      <tr><h4>'Nikki play song'</h4></tr>
      <tr><h4>'Nikki weather in'</h4></tr>
      <tr><h4>'Nikki time in'</h4></tr>
      <tr><h4>'Nikki movie time'</h4></tr>
      <tr><h4>'Nikki feeling boring'</h4></tr>
      <tr><h4>'Nikki news today'</h4></tr>
      <tr><h4>'Nikki mute or sleep'</h4></tr>
      <tr><h4>'Nikki set up Browser'</h4></tr>
      <tr><h4>'Nikki I love you'</h4></tr>
      <tr><h4>'Nikki any joke'</h4></tr>
      <tr><h4>'Nikki translation'</h4></tr>
      <tr><h4>'Nikki search'</h4></tr>
      <tr><h4>Nikki English class</h4></tr>
      <tr><h4>Nikki blog</h4></tr>
    </td>`
  }
  function Back(){
    document.getElementById('helpClass').innerHTML = `<button type="submit" class="btnHelp" onclick="Help()">User-Menu</button>`
  }
</script>
</head>
<body>
  <div class="background">
    <img src="giphy (1).gif"  ></div>
    
    <div class="menu">
      <div class="helpClass">
        
        <div class="text" id="helpClass"><button type="submit" class="btnHelp" onclick="Help()">User-Menu</button></div>
        <div class="tex"><h1>Hello!<br></h1><h3>i'm Nikki</h3></div>
      </div>
    </div>
  </div>
    <div class="title"> <h3>You need help Boss</h3><h4>Say Nikki are you there</h4></div>
    <div class="mic"><br><br><br><i class="material-icons" style="font-size:100px"> mic </i></i></div>
</body>
</html>